[run]
# measure branch coverage
branch = True
# omit uninteresting files
omit =
    memosite/*
    */__init__.py
    mood/migrations/*
    mood/templates/*
    mood/static/*
    mood/adapter.py
    mood/function.py
    export_mood/migrations/*
    export_mood/templates/*
    export_mood/function.py
    manage.py