{% extends 'mood/base.html' %}
{% load static %}


{% block content%}
<div class="add-mood-content">
    <form action="{% url 'add_mood_positive' %}" method="post">
        {% csrf_token %}
        <div>
            <div class="flex items-center mb-4">
                <input disabled="" checked id="disabled-radio-1" type="radio" value="" name="disabled-radio"
                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                <label for="disabled-radio-1" class="ml-2 text-sm font-medium text-gray-400 dark:text-gray-500">Positive
                    Mood</label>
            </div>
            <div class="flex items-center">
                <input disabled="" id="disabled-radio-2" type="radio" value="" name="disabled-radio"
                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                <label for="disabled-radio-2"
                    class="ml-2 text-sm font-medium text-gray-400 dark:text-gray-500">Negative Mood</label>
            </div>
        </div>
        <div class="mb-6">
            <label for="default-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Input
                your new mood</label>
            <input type="text" id="default-input" name="new-mood"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                required>
        </div>
        <button type="submit"
            class="text-white bg-blue-500 hover:bg-blue-700 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Add
        </button>
    </form>
</div>
{% endblock %}