{% extends 'mood/base.html' %}
{% load static %}


{% block content%}
<form action="{% url 'add_mood_list' %}" method="post" class="px-6">
    {% csrf_token %}
    <div class="pb-20">
        <h5 class="text-lg font-bold">Main Mood</h5>
        <ul class="h-56 grid grid-cols-5 gap-6 content-start">
            {% for m in Main %}
            <li>
                <input type="checkbox" id="{{m}}-option" value="{{m}}" name="fav-mood[]" class="hidden peer">
                <label for="{{m}}-option"
                    class="inline-flex justify-between items-center p-3 w-full text-gray-500 bg-white rounded-lg border-4 border-yellow-300 cursor-pointer peer-checked:border-yellow-400 peer-checked:bg-yellow-400 hover:text-gray-600 peer-checked:text-white hover:bg-gray-50">
                    <div class="block">
                        <div class="w-full text-base font-semibold">{{m}}</div>
                    </div>
                </label>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="pb-20">
        <h5 class="text-lg font-bold">Joyful Mood</h5>
        <ul class="h-56 grid grid-cols-5 gap-6 content-start">
            {% for m in Joyful %}
            <li>
                <input type="checkbox" id="{{m}}-option" value="{{m}}" name="fav-mood[]" class="hidden peer">
                <label for="{{m}}-option"
                    class="inline-flex justify-between items-center p-3 w-full text-gray-500 bg-white rounded-lg border-4 border-yellow-300 cursor-pointer peer-checked:border-yellow-300 peer-checked:bg-yellow-300 hover:text-gray-600 peer-checked:text-yellow-900 hover:bg-gray-50">
                    <div class="block">
                        <div class="w-full text-lg font-semibold">{{m}}</div>
                    </div>
                </label>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="pb-20">
        <h5 class="text-lg font-bold">Powerful Mood</h5>
        <ul class="h-56 grid grid-cols-5 gap-6 content-start">
            {% for m in Powerful %}
            <li>
                <input type="checkbox" id="{{m}}-option" value="{{m}}" name="fav-mood[]" class="hidden peer">
                <label for="{{m}}-option"
                    class="inline-flex justify-between items-center p-3 w-full text-gray-500 bg-white rounded-lg border-4 border-green-300 cursor-pointer peer-checked:border-green-400 peer-checked:bg-green-400 hover:text-gray-600 peer-checked:text-green-800 hover:bg-gray-50">
                    <div class="block">
                        <div class="w-full text-lg font-semibold">{{m}}</div>
                    </div>
                </label>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="pb-20">
        <h5 class="text-lg font-bold">Peaceful Mood</h5>
        <ul class="h-56 grid grid-cols-5 gap-6 content-start">
            {% for m in Peaceful %}
            <li>
                <input type="checkbox" id="{{m}}-option" value="{{m}}" name="fav-mood[]" class="hidden peer">
                <label for="{{m}}-option"
                    class="inline-flex justify-between items-center p-3 w-full text-gray-500 bg-white rounded-lg border-4 border-blue-300 cursor-pointer peer-checked:border-blue-400 peer-checked:bg-blue-400 hover:text-gray-600 peer-checked:text-white hover:bg-gray-50">
                    <div class="block">
                        <div class="w-full text-lg font-semibold">{{m}}</div>
                    </div>
                </label>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="pb-20">
        <h5 class="text-lg font-bold">Sad Mood</h5>
        <ul class="h-56 grid grid-cols-5 gap-6 content-start">
            {% for m in Sad %}
            <li>
                <input type="checkbox" id="{{m}}-option" value="{{m}}" name="fav-mood[]" class="hidden peer">
                <label for="{{m}}-option"
                    class="inline-flex justify-between items-center p-3 w-full text-gray-500 bg-white rounded-lg border-4 border-purple-300 cursor-pointer peer-checked:border-purple-400 peer-checked:bg-purple-400 hover:text-gray-600 peer-checked:text-white hover:bg-gray-50">
                    <div class="block">
                        <div class="w-full text-lg font-semibold">{{m}}</div>
                    </div>
                </label>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="pb-20">
        <h5 class="text-lg font-bold">Mad Mood</h5>
        <ul class="h-56 grid grid-cols-5 gap-6 content-start">
            {% for m in Mad %}
            <li>
                <input type="checkbox" id="{{m}}-option" value="{{m}}" name="fav-mood[]" class="hidden peer">
                <label for="{{m}}-option"
                    class="inline-flex justify-between items-center p-3 w-full text-gray-500 bg-white rounded-lg border-4 border-red-300 cursor-pointer peer-checked:border-red-400 peer-checked:bg-red-400 hover:text-gray-600 peer-checked:text-white hover:bg-gray-50">
                    <div class="block">
                        <div class="w-full text-lg font-semibold">{{m}}</div>
                    </div>
                </label>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="pb-20">
        <h5 class="text-lg font-bold">Scared Mood</h5>
        <ul class="h-56 grid grid-cols-5 gap-6 content-start">
            {% for m in Scared %}
            <li>
                <input type="checkbox" id="{{m}}-option" value="{{m}}" name="fav-mood[]" class="hidden peer">
                <label for="{{m}}-option"
                    class="inline-flex justify-between items-center p-3 w-full text-gray-500 bg-white rounded-lg border-4 border-orange-300 cursor-pointer peer-checked:border-orange-400 peer-checked:bg-orange-400 hover:text-gray-600 peer-checked:text-white hover:bg-gray-50">
                    <div class="block">
                        <div class="w-full text-lg font-semibold">{{m}}</div>
                    </div>
                </label>
            </li>
            {% endfor %}
        </ul>
    </div>
    <button type="submit"
        class="text-white bg-blue-500 hover:bg-blue-700 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Add
    </button>
</form>
{% endblock %}