{% extends 'mood/base.html' %}
{% load static %}


{% block content%}
<div style="padding: 5%;">
    <form action="{% url 'remove_mood'%}" method="post">
        <p class="text-center py-3 font-semibold">Remove {{category|title}}</p>
        <div class="h-56 grid grid-cols-6 gap-2 place-content-stretch">
            {% csrf_token %}
            {% for fac in factor %}
            <div class="flex items-center mb-4">
                <input id="default-checkbox" type="checkbox" value="{{fac}}" name="remove-mood[]"
                    class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                <label for="default-checkbox"
                    class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{fac}}</label>
            </div>
            {% endfor %}
        </div>
        <button type="submit"
            class="text-white bg-red-500 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Remove
        </button>
    </form>

</div>
{% endblock %}