{% extends "account/base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_filters %}
{% load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'mood/output.css' %}">
    <link rel="stylesheet" href="{% static 'mood/styles.css' %}">
    <script src="https://kit.fontawesome.com/3c7104b926.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css" />
    <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
    <title></title>
</head>


{% block content %}
<body class="antialiased bg-slate-200">
  <div class="flex justify-center mx-auto">
    <div class="text-center bg-white mt-10 w-1/2 rounded-lg">
        <h1 class="text-4xl font-medium mt-10 text-blue-600">Login</h1>
        <p class="text-slate-500">Welcome back😊</p>

        {% get_providers as socialaccount_providers %}

        {% if socialaccount_providers %}
        <p>{% blocktrans with site.name as site_name %}Please sign in with your Google account.<br>Or, <a href="{{ signup_url }}">sign up</a>
          for a {{ site_name }} account and sign in below{% endblocktrans %}</p>

          <div class="socialaccount_ballot">

            <div class="socialaccount_providers">
              {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </div>

          </div>
          <div>
            {% include "socialaccount/snippets/login_extra.html" %}

            {% else %}
            <p>{% blocktrans %}If you have not created an account yet, then please
            <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
            {% endif %}
          </div>
      
        <div class="login-or border-top border-bottom my-3">{% trans 'OR' %}</div>

        <div class="col-md-6 offset-md-3">
          <form class="login" method="POST" action="{% url 'account_login' %}">
              {% csrf_token %}
              {{ form|crispy }}
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
              <div class="d-grid">
                <button class="text-white bg-blue-500 hover:bg-blue-700 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-6 my-6" type="submit">{% trans "Sign In" %}</button><br>
              </div>
            </form>
        </div>
        </div>
    </div>
  </div>
</body>
{% endblock %}
