{% extends "account/base.html" %}
{% load static%}
{% load i18n %}

{% load crispy_forms_filters %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="flex justify-center mx-auto">
    <div class="text-center bg-white mt-10 w-1/2 rounded-2xl">
        <h1 class="text-4xl font-medium mt-10 mb-3 text-blue-600">{% trans "Sign Up" %}</h1>

        <p>{% blocktrans %}Already have an account? <a href="{{ login_url }}" class="text-blue-400 hover:text-blue-800 hover:underline">sign in</a>.{% endblocktrans %}</p>
        <div class="col-md-6 offset-md-3">
            <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form|crispy }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <div class="d-grid">
                <button class="text-white bg-blue-500 hover:bg-orange-400 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-6 my-6" type="submit">{% trans "Sign Up" %}</button><br>
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}