<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mood Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <style>
        @page {
            size: a4 landscape;
            margin: 5mm;
        }
        p {
            font-family: 'Kanit', sans-serif;
            font-weight: 400;
        }
    </style>
</head>

<body>
    <!-- Content for Static Frame 'header_frame' -->
    <div id="header_content">
        <h3>Your Diary</h3>
        <h4>Username: {{username}}</h4>
    </div>

    <hr>

    <table>
        <th>
            <tr>
                <th>Time</th>
                <th>Mood</th>
                <th>Place</th>
                <th>Weather</th>
                <th>People</th>
                <th>Text</th>
            </tr>
        </th>
        {% for m in mood_data%}
        <tr>
            <td>{{m.time}}</td>
            <td><p style="inline-size: 24mm;overflow-wrap:break-word;">{{m.mood}}</p></td>
            <td><p>{{m.place|title}}</p></td>
            <td><p>{{m.weather|title}}</p></td>
            <td><p style="inline-size: 24mm;overflow-wrap:break-word;">{{m.people|title}}</p></td>
            <td><p style="inline-size: 32mm;overflow-wrap:break-word;">{{m.text}}</p></td>
        </tr>
        {% endfor %}
    </table>
    <hr>
    <p><strong>This is your diary, wish every day is your day:)</strong></p>
</body>

</html>