{% extends 'mood/base.html' %}
{% load static %}
{% block content%}
<div>
    <form action="{% url 'daily_mood' %}" method="post">
        {% csrf_token %}
        <label for="week">Choose a week:</label><br>
        <input type="week" name="choose-week" id="choose-week" max="2022-W46" required>
        <br>
        <button type="submit"
        class="text-white bg-blue-500 hover:bg-blue-700 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Save
        </button>
    </form>
</div>
<div>
    <div class="shadow-lg rounded-lg overflow-hidden">
        <div class="py-3 px-5 bg-gray-50">{{week}} ({{week_str}})</div>
        <canvas class="p-10" id="chartBar"></canvas>
    </div>

    <!-- Required chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- Chart bar -->
    <script>
        const labelsBarChart = [
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday",
        ];
        const dataBarChart = {
            labels: labelsBarChart,
            datasets: [
                {
                    label: "Percent of positive mood in a week",
                    backgroundColor: [
                        "#feea9e",
                        "#fedee1",
                        "#b6dcb5",
                        "#ffb895",
                        "#c2e3e9",
                        "#ddb8df",
                        "#fbb1a6",
                    ],
                    borderColor: "hsl(252, 82.9%, 67.8%)",
                    data: {{ percent }},
            borderRadius: 100,
        },
    ],
};

        const configBarChart = {
            type: "bar",
            data: dataBarChart,
            options: {},
        };
        new Chart(document.getElementById("chartBar"), configBarChart);
    </script>
</div>

{% endblock %}