{% load static %}

<div class="shadow-lg rounded-lg overflow-hidden">
  <div class="py-3 px-5 bg-gray-50">Bar chart</div>
  <canvas class="p-10" id="chartBar"></canvas>
</div>

<!-- Required chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- Chart bar -->
<script>
  const labelsBarChart = [
    "Sunday",
    "Monday",
    "Tuesday",
    "Wednesday",
    "Thursday",
    "Friday",
    "Saturday",
  ];
  const dataBarChart = {
    labels: labelsBarChart,
    datasets: [
      {
        label: "Average mood in week",
        backgroundColor: ["hsl(0,84%,60%)",
                          "hsl(50,98%,64%)",
                          "hsl(329,86%,70%)",
                          "hsl(142,71%,45%)",
                          "hsl(25,95%,53%)",
                          "hsl(217,91%,60%)",
                          "hsl(252, 82.9%, 67.8%)"],
        borderColor: "hsl(252, 82.9%, 67.8%)",
        data: [112, 62, 192, 163, 94, 63, 144],
      },
    ],
  };

  const configBarChart = {
    type: "bar",
    data: dataBarChart,
    options: {},
  };
  new Chart(
          document.getElementById("chartBar"),
          configBarChart
  );
</script>