{% extends 'mood/base.html' %}
{% load static %}


{% block content%}

<p class="font-serif text-2xl"><a class="font-medium text-amber-600">{{username|title}}'s</a> diary <i class="fa-solid fa-book"></i></p>
<div>
    {% if not diary %}
    <p>No diary in last 24 hours.</p>
    {% else %} 
    <div class="grid grid-cols-3 gap-4 place-items-center py-8">
        {% for d in diary %}
        <a href="{% url 'view_mood' d.id%}"
            class="self-center block p-6 w-96 bg-gray-200 rounded-lg shadow-xl">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-500 hover:text-blue-500">{{ d.time }}</h5>
            <p class="font-normal text-gray-700">
                {% if d.place is not none %}
                    At {{ d.place }}
                {% else %}
                    <p>&nbsp;</p>
                {% endif %}
                {% if d.people.all %} 
                    with
                    {% for p in d.people.all %}
                        {{ p.name|title }}
                    {% endfor %}
                {% endif %}
            </p>
        </a>
        {% endfor %}
        {% endif %}
    </div>
</div>
<a href="{% url 'old_mood' %}" class="text-blue-500 hover:text-amber-500 font-medium hover:underline">Archive</a>

{% endblock %}