{% extends 'mood/base.html' %}
{% load static %}


{% block content%}

<div style="padding:2%;">Now, you login with {{username|title}}.</div>
<div>
    {% if not diary %}
    <p>No diary in last 24 hours.</p>
    {% else %} 
    <div class="h-56 grid grid-cols-3 gap-4 place-items-center">
        {% for d in diary %}
        <a href="{% url 'view_mood' d.id%}"
            class="self-center block p-6 max-w-sm bg-gray-200 rounded-lg shadow-xl">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-500 hover:text-blue-500">{{ d.time }}</h5>
            <p class="font-normal text-gray-700">At {{ d.place }}
                {% if d.people.all %} with
                {% for p in d.people.all %}
                {{ p.name }}
                {% endfor %}
                {% endif %}
            </p>
        </a>
        {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock %}