{% extends 'mood/base.html' %}
{% load static %}


{% block content%}

<div style="padding:2%;">Now, you login with {{username|title}}.</div>
<div>
    {% if not diary %}
    <p>No diary in last 24 hours.</p>
    {% else %}
    <div class="h-56 grid grid-cols-3 gap-4 place-content-stretch">
    {% for d in diary %}
    <a href="{% url 'view_mood' d.id%}"
        class="self-center block p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ d.time }}</h5>
        <p class="font-normal text-gray-700 dark:text-gray-400">At {{ d.place }}
            {% if d.people.all %} with
            {% for p in d.people.all %}
            {{ p.name }}
            {% endfor %}
            {% endif %}
        </p>
    </a>
    {% endfor %}
    {% endif %}
    </div>
</div>

{% endblock %}