{% extends 'mood/base.html' %}
{% load static %}


{% block content%}

<div class="index-container">
    <div class="index-quote1-container bg-gray-200">
        <img src="{% static 'images/memologo.png' %}" alt="logo" style="display: block; margin-left: auto; margin-right: auto; width: 10%;">
        <h2 class="text-5xl">How was your day?</h2>
        <h2 class="text-3xl p-4">Memories your MOOD</h2>
    </div>
    <div class="p-8" style="padding: 5%;">
        <div class="p-8">
            <i class="fa-solid fa-book text-4xl p-4"> Record</i>
            <p class="font-serif text-xl">choose mood, place, people, weather</p>
            <p class="font-serif text-xl">create your many diary if you want</p>
            <p class="font-serif text-xl">add your sleep time to keep data</p>
        </div>
        <div class="p-8">
            <i class="fa-solid fa-chart-simple text-4xl p-4"> Daily Mood</i>
            <p class="font-serif text-xl">positive mood in each day</p>
            <p class="font-serif text-xl">choose a week do you want to see</p>
            <p class="font-serif text-xl">more percentage, good day <i class="fa-regular fa-face-smile"></i></p>
        </div>
        <div class="p-8">
            <i class="fa-solid fa-magnifying-glass text-4xl p-4"> Discover</i>
            <p class="font-serif text-xl"></p>
            <p class="font-serif text-xl"></p>
            <p class="font-serif text-xl"></p>
        </div>
        <div class="p-8">
            <i class="fa-solid fa-file-export text-4xl p-4"> Export</i>
            <p class="font-serif text-xl"></p>
            <p class="font-serif text-xl"></p>

        </div>
        
    </div>
</div>
{% endblock %}