{% extends 'mood/base.html' %}
{% load static %}


{% block content%}

<div class="index-container">
    <div class="index-quote1-container bg-gray-200 shadow-lg">
        <div class="grid py-9 -mt-32">
            <img src="{% static 'images/memologo.png' %}" alt="logo" class="mx-auto relative top-16 object-contain h-64 w-96">
            <h2 class="text-5xl" style="font-family: 'Gaegu', cursive;">How was your day?</h2>
            <h2 class="text-3xl p-4 text-blue-500 " style="font-family: 'Gaegu', cursive;">Memories your MOOD</h2>
        </div>
    </div>
    <div class="p-8" style="padding: 5%;">
        <div class="p-8">
            <i class="fa-solid fa-book text-4xl p-4"> Record</i>
            <p class="font-serif text-xl">record mood, place, people, weather, sleep time</p>
            <p class="font-serif text-xl">write your diary many time as you want</p>
            <p class="font-serif text-xl">regularly record your mood </p>
        </div>
        <div class="p-8">
            <i class="fa-solid fa-chart-simple text-4xl p-4"> Daily Mood</i>
            <p class="font-serif text-xl">positive mood in each day</p>
            <p class="font-serif text-xl">choose a week you want to see</p>
            <p class="font-serif text-xl">more percentage = good day <i class="fa-regular fa-face-smile"></i></p>
        </div>
        <div class="p-8">
            <i class="fa-solid fa-magnifying-glass text-4xl p-4"> Discover</i>
            <p class="font-serif text-xl">statistically discover</p>
            <p class="font-serif text-xl">place, people, weather, sleep time</p>
            <p class="font-serif text-xl">that can influence your certain mood.</p>
        </div>
        <div class="p-8">
            <i class="fa-solid fa-file-export text-4xl p-4"> Export</i>
            <p class="font-serif text-xl">view all of your diary</p>
            <p class="font-serif text-xl">download diary to your device</p>
        </div>
        
    </div>
</div>
{% endblock %}